# Test results
| #   | Time   | CPU             | RAM (GB) | OS                 | Comments                  |
|-----|--------|-----------------|----------|--------------------|---------------------------|
| 1   | 4m 42s | Intel i7-10875H | 16       | Linux Mint x64     | Asus Zephyrus M15 Laptop  |
| 2   | 6m  9s | Intel i7-10875H | 16       | Windows 11 x64     | Asus Zephyrus M15 Laptop  |
| 3   | 6m 54s | Apple M1 Pro    | 32       | MacOS Ventura 13.1 | MacBook Pro - JDK x64     |
| 4   | 2m 37s | Apple M1 Pro    | 32       | MacOS Ventura 13.1 | MacBook Pro - JDK aarch64 |
